<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%thread] %msg</pattern>
        </encoder>
    </appender>
    <root level="ALL">
        <appender-ref ref="logcat" />
    </root>
    <logger name="io.netty" additivity="true" level="ERROR" />
</configuration>